﻿//
// Custom PingColor Styles
// --

@import "variables.less";
@import "mixins.less";
@import "glyphicons.less";
@import "colors.less";
@import "type.less";

// ************ CREATE PING ***************


#create-ping-page {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url('../Images/create-ping-backdrop.jpg') no-repeat;
    z-index: 60;
    opacity: 0;
    display: none;

    #create-ping-wheelcontainer {
        position: relative;
        width: 100%;
        height: 100%;

        #create-ping-wheel {
            position:absolute;
            top:14px;
            left:50%;
            margin-left:-74px;
            width: 150px;
            height: 150px;
            background: url('../Images/create-ping-2.svg') no-repeat;
            .background-cover;

            h2 {
                font-size:25px;
                color:#fff;
                opacity:0;
                position:absolute;
                margin-top:-20px;
                top:50%;
                left:0;
                right:0;
                text-align:center;
                letter-spacing:@letter-spacing-sans-serif;
            }

            textarea {
                font-size:15px;
                .handwrittenfont;
                color:#fff;
                position:absolute;
                margin-top:0;
                top:50%;
                left:50%;
                opacity:0;
                margin-left:-235px;
                text-align:left;
                background:rgba(000, 000, 000, 0.3);
                border:1px solid rgba(244, 244, 244, 0.1);
                padding:10px;
                width:450px;
                border-radius:0;
                
            }
        }
    }
}
