﻿.off-white-gradient {
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e1e1e1 80%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #e1e1e1 80%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe1e1e1', GradientType=0);
}
.off-grey-gradient {
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f5f5f5 80%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f5f5f5 80%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff5f5f5', GradientType=0);
}
.darktolight {
  color: #555555;
}
.darktolight:hover {
  color: #222222;
}
.whitetodark {
  color: #999999;
}
.whitetodark:hover {
  color: #eeeeee;
}
.lighttext {
  color: #fff;
}
.background-cover {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}
.glyphicon:hover {
  text-decoration: none;
}
.glyphicon-asterisk:before {
  content: "\2a";
}
.glyphicon-plus:before {
  content: "\2b";
}
.glyphicon-euro:before {
  content: "\20ac";
}
.glyphicon-minus:before {
  content: "\2212";
}
.glyphicon-cloud:before {
  content: "\2601";
}
.glyphicon-envelope:before {
  content: "\2709";
}
.glyphicon-pencil:before {
  content: "\270f";
}
.glyphicon-glass:before {
  content: "\e001";
}
.glyphicon-music:before {
  content: "\e002";
}
.glyphicon-search:before {
  content: "\e003";
}
.glyphicon-heart:before {
  content: "\e005";
}
.glyphicon-star:before {
  content: "\e006";
}
.glyphicon-star-empty:before {
  content: "\e007";
}
.glyphicon-user:before {
  content: "\e008";
}
.glyphicon-film:before {
  content: "\e009";
}
.glyphicon-th-large:before {
  content: "\e010";
}
.glyphicon-th:before {
  content: "\e011";
}
.glyphicon-th-list:before {
  content: "\e012";
}
.glyphicon-ok:before {
  content: "\e013";
}
.glyphicon-remove:before {
  content: "\e014";
}
.glyphicon-zoom-in:before {
  content: "\e015";
}
.glyphicon-zoom-out:before {
  content: "\e016";
}
.glyphicon-off:before {
  content: "\e017";
}
.glyphicon-signal:before {
  content: "\e018";
}
.glyphicon-cog:before {
  content: "\e019";
}
.glyphicon-trash:before {
  content: "\e020";
}
.glyphicon-home:before {
  content: "\e021";
}
.glyphicon-file:before {
  content: "\e022";
}
.glyphicon-time:before {
  content: "\e023";
}
.glyphicon-road:before {
  content: "\e024";
}
.glyphicon-download-alt:before {
  content: "\e025";
}
.glyphicon-download:before {
  content: "\e026";
}
.glyphicon-upload:before {
  content: "\e027";
}
.glyphicon-inbox:before {
  content: "\e028";
}
.glyphicon-play-circle:before {
  content: "\e029";
}
.glyphicon-repeat:before {
  content: "\e030";
}
.glyphicon-refresh:before {
  content: "\e031";
}
.glyphicon-list-alt:before {
  content: "\e032";
}
.glyphicon-lock:before {
  content: "\e033";
}
.glyphicon-flag:before {
  content: "\e034";
}
.glyphicon-headphones:before {
  content: "\e035";
}
.glyphicon-volume-off:before {
  content: "\e036";
}
.glyphicon-volume-down:before {
  content: "\e037";
}
.glyphicon-volume-up:before {
  content: "\e038";
}
.glyphicon-qrcode:before {
  content: "\e039";
}
.glyphicon-barcode:before {
  content: "\e040";
}
.glyphicon-tag:before {
  content: "\e041";
}
.glyphicon-tags:before {
  content: "\e042";
}
.glyphicon-book:before {
  content: "\e043";
}
.glyphicon-bookmark:before {
  content: "\e044";
}
.glyphicon-print:before {
  content: "\e045";
}
.glyphicon-camera:before {
  content: "\e046";
}
.glyphicon-font:before {
  content: "\e047";
}
.glyphicon-bold:before {
  content: "\e048";
}
.glyphicon-italic:before {
  content: "\e049";
}
.glyphicon-text-height:before {
  content: "\e050";
}
.glyphicon-text-width:before {
  content: "\e051";
}
.glyphicon-align-left:before {
  content: "\e052";
}
.glyphicon-align-center:before {
  content: "\e053";
}
.glyphicon-align-right:before {
  content: "\e054";
}
.glyphicon-align-justify:before {
  content: "\e055";
}
.glyphicon-list:before {
  content: "\e056";
}
.glyphicon-indent-left:before {
  content: "\e057";
}
.glyphicon-indent-right:before {
  content: "\e058";
}
.glyphicon-facetime-video:before {
  content: "\e059";
}
.glyphicon-picture:before {
  content: "\e060";
}
.glyphicon-map-marker:before {
  content: "\e062";
}
.glyphicon-adjust:before {
  content: "\e063";
}
.glyphicon-tint:before {
  content: "\e064";
}
.glyphicon-edit:before {
  content: "\e065";
}
.glyphicon-share:before {
  content: "\e066";
}
.glyphicon-check:before {
  content: "\e067";
}
.glyphicon-move:before {
  content: "\e068";
}
.glyphicon-step-backward:before {
  content: "\e069";
}
.glyphicon-fast-backward:before {
  content: "\e070";
}
.glyphicon-backward:before {
  content: "\e071";
}
.glyphicon-play:before {
  content: "\e072";
}
.glyphicon-pause:before {
  content: "\e073";
}
.glyphicon-stop:before {
  content: "\e074";
}
.glyphicon-forward:before {
  content: "\e075";
}
.glyphicon-fast-forward:before {
  content: "\e076";
}
.glyphicon-step-forward:before {
  content: "\e077";
}
.glyphicon-eject:before {
  content: "\e078";
}
.glyphicon-chevron-left:before {
  content: "\e079";
}
.glyphicon-chevron-right:before {
  content: "\e080";
}
.glyphicon-plus-sign:before {
  content: "\e081";
}
.glyphicon-minus-sign:before {
  content: "\e082";
}
.glyphicon-remove-sign:before {
  content: "\e083";
}
.glyphicon-ok-sign:before {
  content: "\e084";
}
.glyphicon-question-sign:before {
  content: "\e085";
}
.glyphicon-info-sign:before {
  content: "\e086";
}
.glyphicon-screenshot:before {
  content: "\e087";
}
.glyphicon-remove-circle:before {
  content: "\e088";
}
.glyphicon-ok-circle:before {
  content: "\e089";
}
.glyphicon-ban-circle:before {
  content: "\e090";
}
.glyphicon-arrow-left:before {
  content: "\e091";
}
.glyphicon-arrow-right:before {
  content: "\e092";
}
.glyphicon-arrow-up:before {
  content: "\e093";
}
.glyphicon-arrow-down:before {
  content: "\e094";
}
.glyphicon-share-alt:before {
  content: "\e095";
}
.glyphicon-resize-full:before {
  content: "\e096";
}
.glyphicon-resize-small:before {
  content: "\e097";
}
.glyphicon-exclamation-sign:before {
  content: "\e101";
}
.glyphicon-gift:before {
  content: "\e102";
}
.glyphicon-leaf:before {
  content: "\e103";
}
.glyphicon-fire:before {
  content: "\e104";
}
.glyphicon-eye-open:before {
  content: "\e105";
}
.glyphicon-eye-close:before {
  content: "\e106";
}
.glyphicon-warning-sign:before {
  content: "\e107";
}
.glyphicon-plane:before {
  content: "\e108";
}
.glyphicon-calendar:before {
  content: "\e109";
}
.glyphicon-random:before {
  content: "\e110";
}
.glyphicon-comment:before {
  content: "\e111";
}
.glyphicon-magnet:before {
  content: "\e112";
}
.glyphicon-chevron-up:before {
  content: "\e113";
}
.glyphicon-chevron-down:before {
  content: "\e114";
}
.glyphicon-retweet:before {
  content: "\e115";
}
.glyphicon-shopping-cart:before {
  content: "\e116";
}
.glyphicon-folder-close:before {
  content: "\e117";
}
.glyphicon-folder-open:before {
  content: "\e118";
}
.glyphicon-resize-vertical:before {
  content: "\e119";
}
.glyphicon-resize-horizontal:before {
  content: "\e120";
}
.glyphicon-hdd:before {
  content: "\e121";
}
.glyphicon-bullhorn:before {
  content: "\e122";
}
.glyphicon-bell:before {
  content: "\e123";
}
.glyphicon-certificate:before {
  content: "\e124";
}
.glyphicon-thumbs-up:before {
  content: "\e125";
}
.glyphicon-thumbs-down:before {
  content: "\e126";
}
.glyphicon-hand-right:before {
  content: "\e127";
}
.glyphicon-hand-left:before {
  content: "\e128";
}
.glyphicon-hand-up:before {
  content: "\e129";
}
.glyphicon-hand-down:before {
  content: "\e130";
}
.glyphicon-circle-arrow-right:before {
  content: "\e131";
}
.glyphicon-circle-arrow-left:before {
  content: "\e132";
}
.glyphicon-circle-arrow-up:before {
  content: "\e133";
}
.glyphicon-circle-arrow-down:before {
  content: "\e134";
}
.glyphicon-globe:before {
  content: "\e135";
}
.glyphicon-wrench:before {
  content: "\e136";
}
.glyphicon-tasks:before {
  content: "\e137";
}
.glyphicon-filter:before {
  content: "\e138";
}
.glyphicon-briefcase:before {
  content: "\e139";
}
.glyphicon-fullscreen:before {
  content: "\e140";
}
.glyphicon-dashboard:before {
  content: "\e141";
}
.glyphicon-paperclip:before {
  content: "\e142";
}
.glyphicon-heart-empty:before {
  content: "\e143";
}
.glyphicon-link:before {
  content: "\e144";
}
.glyphicon-phone:before {
  content: "\e145";
}
.glyphicon-pushpin:before {
  content: "\e146";
}
.glyphicon-usd:before {
  content: "\e148";
}
.glyphicon-gbp:before {
  content: "\e149";
}
.glyphicon-sort:before {
  content: "\e150";
}
.glyphicon-sort-by-alphabet:before {
  content: "\e151";
}
.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}
.glyphicon-sort-by-order:before {
  content: "\e153";
}
.glyphicon-sort-by-order-alt:before {
  content: "\e154";
}
.glyphicon-sort-by-attributes:before {
  content: "\e155";
}
.glyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}
.glyphicon-unchecked:before {
  content: "\e157";
}
.glyphicon-expand:before {
  content: "\e158";
}
.glyphicon-collapse-down:before {
  content: "\e159";
}
.glyphicon-collapse-up:before {
  content: "\e160";
}
.glyphicon-log-in:before {
  content: "\e161";
}
.glyphicon-flash:before {
  content: "\e162";
}
.glyphicon-log-out:before {
  content: "\e163";
}
.glyphicon-new-window:before {
  content: "\e164";
}
.glyphicon-record:before {
  content: "\e165";
}
.glyphicon-save:before {
  content: "\e166";
}
.glyphicon-open:before {
  content: "\e167";
}
.glyphicon-saved:before {
  content: "\e168";
}
.glyphicon-import:before {
  content: "\e169";
}
.glyphicon-export:before {
  content: "\e170";
}
.glyphicon-send:before {
  content: "\e171";
}
.glyphicon-floppy-disk:before {
  content: "\e172";
}
.glyphicon-floppy-saved:before {
  content: "\e173";
}
.glyphicon-floppy-remove:before {
  content: "\e174";
}
.glyphicon-floppy-save:before {
  content: "\e175";
}
.glyphicon-floppy-open:before {
  content: "\e176";
}
.glyphicon-credit-card:before {
  content: "\e177";
}
.glyphicon-transfer:before {
  content: "\e178";
}
.glyphicon-cutlery:before {
  content: "\e179";
}
.glyphicon-header:before {
  content: "\e180";
}
.glyphicon-compressed:before {
  content: "\e181";
}
.glyphicon-earphone:before {
  content: "\e182";
}
.glyphicon-phone-alt:before {
  content: "\e183";
}
.glyphicon-tower:before {
  content: "\e184";
}
.glyphicon-stats:before {
  content: "\e185";
}
.glyphicon-sd-video:before {
  content: "\e186";
}
.glyphicon-hd-video:before {
  content: "\e187";
}
.glyphicon-subtitles:before {
  content: "\e188";
}
.glyphicon-sound-stereo:before {
  content: "\e189";
}
.glyphicon-sound-dolby:before {
  content: "\e190";
}
.glyphicon-sound-5-1:before {
  content: "\e191";
}
.glyphicon-sound-6-1:before {
  content: "\e192";
}
.glyphicon-sound-7-1:before {
  content: "\e193";
}
.glyphicon-copyright-mark:before {
  content: "\e194";
}
.glyphicon-registration-mark:before {
  content: "\e195";
}
.glyphicon-cloud-download:before {
  content: "\e197";
}
.glyphicon-cloud-upload:before {
  content: "\e198";
}
.glyphicon-tree-conifer:before {
  content: "\e199";
}
.glyphicon-tree-deciduous:before {
  content: "\e200";
}
#map {
  width: 100%;
  height: 100%;
  z-index: 5;
  background: #2b2b2b;
}
#map-bubble-example {
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: -210px;
  z-index: 20;
}
.map-bubble {
  opacity: 0;
  display: none;
  width: 210px;
  height: 210px;
  padding: 25px;
  border-radius: 260px 260px 260px 260px;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e1e1e1 80%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #e1e1e1 80%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe1e1e1', GradientType=0);
  -webkit-box-shadow: 0 1px 3px #000000;
  box-shadow: 0 1px 3px #000000;
}
.map-bubble h5 {
  font-size: 30px;
}
.map-bubble p {
  font-family: 'Bad Script', cursive;
  line-height: 25px;
}
.map-bubble nav a {
  width: 20px;
  height: 20px;
  font-size: 18px;
  margin: 0 5px;
  color: #555555;
}
.map-bubble nav a:hover {
  color: #222222;
}
.map-bubble .map-bubble-pointer {
  width: 3px;
  height: 30px;
  position: absolute;
  left: 105px;
  top: -30px;
  background: #fff;
  border-radius: 15px 15px 15px 15px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 0 135px;
  -moz-transform-origin: 0 135px;
  -ms-transform-origin: 0 135px;
  transform-origin: 0 135px;
}
#graphics-panel {
  width: 300px;
  padding: 0 10px;
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  z-index: 50;
  background-image: -webkit-gradient(linear, right bottom, left bottom, color-stop(0, #2b2b2b), color-stop(1, rgba(244, 244, 244, 0)));
  background-image: -o-linear-gradient(left, #2b2b2b 40%, rgba(244, 244, 244, 0) 100%);
  background-image: -moz-linear-gradient(left, #2b2b2b 40%, rgba(244, 244, 244, 0) 100%);
  background-image: -webkit-linear-gradient(left, #2b2b2b 40%, rgba(244, 244, 244, 0) 100%);
  background-image: -ms-linear-gradient(left, #2b2b2b 40%, rgba(244, 244, 244, 0) 100%);
  background-image: linear-gradient(to left, #2b2b2b 40%, rgba(244, 244, 244, 0) 100%);
}
#graphics-panel img {
  margin: 0 auto;
  max-width: 100%;
  height: 100%;
  float: left;
}
#graphics-panel .graphics-more {
  display: none;
}
#graphics-panel.graphics-open {
  background-image: none;
  background: rgba(43, 43, 43, 0.9);
}
#graphics-panel.graphics-open .graphics-more {
  display: block;
  height: 100%;
}
#graphics-panel.graphics-open .graphics-more img {
  margin: 150px 0 0 100px;
  height: 500px;
}
#map-filters {
  position: fixed;
  bottom: 50%;
  left: 0;
  margin-bottom: -105px;
  z-index: 40;
}
#map-filters .map-filter-label {
  display: none;
  color: #fff;
  float: left;
}
#map-filters ul {
  margin: 0;
}
#map-filters ul li {
  float: left;
  clear: left;
  height: 60px;
  width: 60px;
  background-color: rgba(23, 23, 23, 0.5);
  display: block;
  margin: 5px 5px 0;
  background-image: url(../Images/pingcolors-icons.png);
  text-indent: -9999px;
  position: relative;
}
#map-filters ul li .map-filter-open {
  position: absolute;
  top: 0;
  right: 0;
  left: 100%;
  background-color: rgba(244, 244, 244, 0.7);
  height: 60px;
  text-indent: 0;
  color: #191919;
  overflow: hidden;
  -webkit-transition: right 0.1s ease-in 0;
  -moz-transition: right 0.1s ease-in 0;
  -o-transition: right 0.1s ease-in 0;
  transition: right 0.1s ease-in 0;
}
#map-filters ul li .map-filter-open .map-filter-openinside {
  width: 200px;
  padding: 0 25px;
  line-height: 60px;
}
#map-filters ul li:hover {
  background-color: #171717;
}
#map-filters ul li:hover .map-filter-open {
  right: -250px;
  -webkit-transition: right 0.3s ease-in 0;
  -moz-transition: right 0.3s ease-in 0;
  -o-transition: right 0.3s ease-in 0;
  transition: right 0.3s ease-in 0;
}
#map-filters ul #map-filter-geolocate {
  background-position: -10px -10px;
}
#map-filters ul #map-filter-time {
  background-position: -91px -11px;
}
#map-filters ul #map-filter-search {
  background-position: -170px -10px;
}
@media all and (max-width: 767px) {
  #map-filters {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    margin-bottom: 0;
    background: rgba(23, 23, 23, 0.8);
    -webkit-transition: height 0.3s ease-in 0;
    -moz-transition: height 0.3s ease-in 0;
    -o-transition: height 0.3s ease-in 0;
    transition: height 0.3s ease-in 0;
  }
  #map-filters .map-filter-label {
    display: block;
    padding: 0 10px;
  }
  #map-filters ul {
    display: none;
    background: rgba(23, 23, 23, 0.6);
  }
  #map-filters:hover {
    -webkit-transition: height 0.3s ease-in 0;
    -moz-transition: height 0.3s ease-in 0;
    -o-transition: height 0.3s ease-in 0;
    transition: height 0.3s ease-in 0;
    height: 250px;
  }
  #map-filters:hover ul {
    display: block;
  }
  #graphics-panel {
    display: none;
  }
}
/*# sourceMappingURL=map.css.map */