﻿//
// Custom PingColor Styles
// --

@import "variables.less";
@import "mixins.less";
@import "glyphicons.less";
@import "type.less";

// *********** Colors of pings **************

@ping-emotion-color1: #cbcc29;
@ping-emotion-color2: #99b73d;
@ping-emotion-color3: #70a241;
@ping-emotion-color4: #389943;
@ping-emotion-color5: #15895f;

@ping-emotion-color6: #12756b;
@ping-emotion-color7: #0c81a1;
@ping-emotion-color8: #136799;
@ping-emotion-color9: #0a4c89;
@ping-emotion-color10: #21307c;

@ping-emotion-color11: #362b77;
@ping-emotion-color12: #4c2b77;
@ping-emotion-color13: #672e7c;
@ping-emotion-color14: #862c8a;
@ping-emotion-color15: #a32c79;

@ping-emotion-color16: #a8204a;
@ping-emotion-color17: #ba2f2f;
@ping-emotion-color18: #bf3c2e;
@ping-emotion-color19: #cc4d23;
@ping-emotion-color20: #ca5b1d;

@ping-emotion-color21: #cc7423;
@ping-emotion-color22: #cb8a26;
@ping-emotion-color23: #cca22e;
@ping-emotion-color24: #cdb72e;

.ping-emotion-textcolor1 {
    color: @ping-emotion-color1;
}

.ping-emotion-textcolor2 {
    color: @ping-emotion-color2;
}

.ping-emotion-textcolor3 {
    color: @ping-emotion-color3;
}

.ping-emotion-textcolor4 {
    color: @ping-emotion-color4;
}

.ping-emotion-textcolor5 {
    color: @ping-emotion-color5;
}

.ping-emotion-textcolor6 {
    color: @ping-emotion-color6;
}

.ping-emotion-textcolor7 {
    color: @ping-emotion-color7;
}

.ping-emotion-textcolor8 {
    color: @ping-emotion-color8;
}

.ping-emotion-textcolor9 {
    color: @ping-emotion-color9;
}

.ping-emotion-textcolor10 {
    color: @ping-emotion-color10;
}

.ping-emotion-textcolor11 {
    color: @ping-emotion-color11;
}

.ping-emotion-textcolor12 {
    color: @ping-emotion-color12;
}

.ping-emotion-textcolor13 {
    color: @ping-emotion-color13;
}

.ping-emotion-textcolor14 {
    color: @ping-emotion-color14;
}

.ping-emotion-textcolor15 {
    color: @ping-emotion-color15;
}

.ping-emotion-textcolor16 {
    color: @ping-emotion-color16;
}

.ping-emotion-textcolor17 {
    color: @ping-emotion-color17;
}

.ping-emotion-textcolor18 {
    color: @ping-emotion-color18;
}

.ping-emotion-textcolor19 {
    color: @ping-emotion-color19;
}

.ping-emotion-textcolor20 {
    color: @ping-emotion-color20;
}

.ping-emotion-textcolor21 {
    color: @ping-emotion-color21;
}

.ping-emotion-textcolor22 {
    color: @ping-emotion-color22;
}

.ping-emotion-textcolor23 {
    color: @ping-emotion-color23;
}

.ping-emotion-textcolor24 {
    color: @ping-emotion-color24;
}



// *********** Ping Emotions = STARS **************

#ping-emotion-example-1 {
    position: absolute;
    top: 300px;
    left: 500px;
}

#ping-emotion-example-2 {
    position: absolute;
    top: 150px;
    left: 350px;
}

#ping-emotion-example-3 {
    position: absolute;
    top: 450px;
    left: 50px;
}

#ping-emotion-example-4 {
    position: absolute;
    top: 550px;
    left: 380px;
}

#ping-emotion-example-5 {
    position: absolute;
    top: 170px;
    right: 100px;
}

#ping-emotion-example-6 {
    position: absolute;
    top: 170px;
    left: 480px;
}

#ping-emotion-example-7 {
    position: absolute;
    top: 330px;
    right: 19%;
}

#ping-emotion-example-8 {
    position: absolute;
    top: 350px;
    left: 800px;
}

.svg .ping-emotion-icon {
    background-image: url(../Images/Ping-emotion-stars.svg) !important;
}

.ping-emotion-icon {
    width:50px;
    height:45px;
    display: block;
    background: url(../Images/Ping-emotion-stars.png);
    -webkit-background-size: 50px 1100px;
    -o-background-size:50px 1100px;
    -moz-background-size:  50px 1100px;
    background-size: 50px 1100px;
    z-index: 20;
}


.ping-emotion-icon-01 {
    background-position: 0 0;
}

.ping-emotion-icon-02 {
    background-position: 0 -45px;
}


.ping-emotion-icon-03 {
    background-position: 0 -90px;
}

.ping-emotion-icon-04 {
    background-position: 0 -135px;
}

.ping-emotion-icon-05 {
    background-position: 0 -180px;
}

.ping-emotion-icon-06 {
    background-position: 0 -225px;
}


.ping-emotion-icon-07 {
    background-position: 0 -270px;
}

.ping-emotion-icon-08 {
    background-position: 0 -315px;
}

.ping-emotion-icon-09 {
    background-position: 0 -360px;
}

.ping-emotion-icon-10 {
    background-position: 0 -405px;
}


.ping-emotion-icon-11 {
    background-position: 0 -450px;
}

.ping-emotion-icon-12 {
    background-position: 0 -495px;
}

.ping-emotion-icon-13 {
    background-position: 0 -540px;
}

.ping-emotion-icon-14 {
    background-position: 0 -585px;
}


.ping-emotion-icon-15 {
    background-position: 0 -635px;
}

.ping-emotion-icon-16 {
    background-position: 0 -680px;
}

.ping-emotion-icon-17 {
    background-position: 0 -725px;
}

.ping-emotion-icon-18 {
    background-position: 0 -810px;
}


.ping-emotion-icon-19 {
    background-position: 0 -855px;
}

.ping-emotion-icon-20 {
    background-position: 0 -900px;
}

.ping-emotion-icon-21 {
    background-position: 0 -945px;
}

.ping-emotion-icon-22 {
    background-position: 0 -990px;
}


.ping-emotion-icon-23 {
    background-position: 0 -1035px;
}

.ping-emotion-icon-24 {
    background-position: 0 -1080px;
}
