﻿.background-cover {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
.off-white-gradient {
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e1e1e1 80%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #e1e1e1 80%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe1e1e1', GradientType=0);
}
.off-grey-gradient {
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f5f5f5 80%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f5f5f5 80%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff5f5f5', GradientType=0);
}
.darktolight {
  color: #555555;
}
.darktolight:hover {
  color: #222222;
}
.whitetodark {
  color: #999999;
}
.whitetodark:hover {
  color: #eeeeee;
}
.lighttext {
  color: #fff;
}
/*# sourceMappingURL=variables.css.map */